@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme */
@import 'primereact/resources/themes/lara-light-indigo/theme.css';

/* core */
@import 'primereact/resources/primereact.min.css';

/* icons */
@import 'primeicons/primeicons.css';

* {
  font-family: 'Nunito', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

div.img-bg {
  background-image: url('https://res.cloudinary.com/dskl0qde4/image/upload/v1678474160/space_s8mxgr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

div.img-text {
  width: 40%;
  position: absolute;
  top: 15rem;
  left: 11rem;
}

.active {
  @apply text-orange-500;
}

section#rockets,
section#missions {
  height: 100%;
  background-image: url('https://res.cloudinary.com/dskl0qde4/image/upload/v1678482474/philip-myrtorp-HPNLQH3UNSM-unsplash_tp61kn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

section#profile {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dskl0qde4/image/upload/v1678482474/philip-myrtorp-HPNLQH3UNSM-unsplash_tp61kn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

div.rocket-card {
  cursor: pointer;
}

div.rocket-overlay {
  /* display: none; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.6s ease-in-out;
}

div.rocket-card:hover div.rocket-overlay {
  height: 100%;
}

/*
Profile Component
*/

div.profile-wrapper {
  display: flex;
  padding: 0 40px;
  gap: 1rem;
}

section.mission-section {
  width: 50%;
}

section.rockets-section {
  width: 50%;
}

ul.reserved-mission-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
}

ul.reserved-mission-list li {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
